<h1>Create New User</h1>

<%= simple_form_for(@user) do |f|%>

<p>
  <%= f.input(:first_name, autofocus: true) %>
</p>

<p>
  <%= f.input(:last_name) %>
</p>

<p>
  <%= f.input(:username) %>
</p>

<p>
  <%= f.input(:password, required: true) %>
</p>

<p>
  <%= f.button(:submit, "Signup", class: "btn btn-primary") %>
</p>
  <%= link_to "Have an account already? Log in here", login_path %>
<% end %>