<!DOCTYPE html>
<html>
<head>
  <title>Trippin!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

             <!-- BEGINNING OF STYLE -->

<style>
#navstyle {
  background: transparent;
  background-color: rgba(14, 14, 14, .2);
  border-color: transparent;
  text-shadow: 0 0 5px #FFF, 0 0 5px #FFF;
  font-variant: small-caps;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
  font-family: arial;
  margin-bottom: 30px;
}
.fcolor {
  color:  #2c73b0 !important;
  text-shadow: 2px 2px 3px #21c2c1, 3px 3px 7px #FFF !important;
}
.fcolor:hover {
  color:  white !important;
  text-shadow: 2px 2px 5px #21c2c1, 5px 4px 6px #FFF !important;
}
.buttonmargin {
  margin-left: 400px;
}
.push {/*THIS IS SO THINGS DONT END UP HIDDEN UNDER NAV*/
  margin-top: 90px;
}
.googfont3 {
    font-family: 'Pacifico', cursive;
    color: white !important;
    font-size: 20px !important;
    text-shadow:2px 2px 1px black, -2px -2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
    margin-bottom: 30px;
    font-variant: normal;
  }
  .signedin {
    color: black !important;
    margin-left: 100px;
  }

/*SITE#INDEX PAGE*/
  .background {
    background: #49BABE;
  }   
  .siteindex {
    height: 500px;
    background-image: url("/beach3.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
  }
  .googfont {
    font-family: 'Pacifico', cursive;
    color: white !important;
    font-size: 80px !important;
    text-shadow:2px 2px 1px black, -2px -2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
    margin-bottom: 100px;
  }
  .pushs {
    margin-bottom: -100px;
  }
  .fontstyle {
    color: #49BABE !important;
    text-shadow:2px 2px 1px black, -2px -2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
  }

  /*USERS#LOGIN*/ 
  .loginbox {
    border:5px inset #5073ba;
    background: rgba(35, 133, 133, .6);
    width: 60%;
  } 
  .shadow {
    text-shadow:1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
    font-size: 22px;

  }
  .googfont2 {
    font-family: 'Pacifico', cursive;
    color: white !important;
    font-size: 40px !important;
    text-shadow:2px 2px 1px black, -2px -2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
    margin-bottom: 30px;
  }

  /*USERS#SIGNUP*/
  .signupbox {
    border:5px inset #5073ba;
    background: rgba(35, 133, 133, .6);
    width:60%;
    padding-left:30px;
  }
  /*USERS#SHOW*/
  .medfont {
    font-size: 25px;
  }
  .lspacing {
    letter-spacing: 3px;

  }
  /*ITINERARIES#SHOW*/
  .larger {
    font-size: 25px;
  }
  .white {
    color: white;
  }
  

</style>

                 <!-- END OF STYLE -->

</head>

<nav id="navstyle" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav navbar-left">
        
        <li><h3 class="googfont3"> Trippin!</h3></li>
      
        <li><a class="fcolor" href="/">Home</a></li>
        <li><a class="fcolor" href="/users">Show Users</a></li>
        <li><a class="fcolor" href="/itineraries">All Itineraries</a></li>
        <li><%= link_to "Log Out", logout_path, method: :delete, data: { confirm: "Are you sure?!"}, class: "fcolor" %></li>
        <li class="signedin">
          <% if @user == nil%>
          not signed in 
          <% else  %>
          Signed In As: <%= @user.username %>
          <% end  %>
          </li>
      </ul>
    </div>
  </div>
</nav>
<body class="push background container-fluid">


<%= yield %>

</body>
</html>
