<center>
<div class="loginbox">
<h1>Welcome Back, </h1 > <h1 class="googfont2">Tripper!</h1>

<h3>Please log in</h3>

<%= form_tag(login_path) do %>

<p>
  <%= label_tag(:username)%>
  <%= text_field_tag(:username, params[:username], autofocus: true)%>
</p>

<p>
  <%= label_tag(:password)%>
  <%= password_field_tag(:password)%>
</p>

<p>
  <%= submit_tag("Log in", class: "btn btn-primary") %>
  OR
  <%= link_to "Log in with Twitter", "/auth/twitter" %>

</p>
<% end %>


<%= link_to "Don't have an account? Sign up here", signup_path, class: "shadow"%>
</center>
</div>