<h1><%= @user.first_name %> <%= @user.last_name %>'s Itineraries</h1>





<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Itinerary</th>
      <th>Destination</th>
      <th>Begin</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @user.itineraries.each do |itinerary| %>
      <td><h2 class="lspacing shadow medfont btn btn-info btn-md"><%= link_to itinerary.name, itinerary_path(itinerary) %></h2></td>
      <td><h2><%= itinerary.destination %></h2></td>
      <td><h2><%= itinerary.start_date.to_s(:long) %></h2></td>
      <td><h2><%= itinerary.end_date.to_s(:long) %></h2></td>
    </tr>
    <% end %>
  </tbody>
  
</table>




<p>
  <%= link_to "Add an itinerary", new_itinerary_path(session[:user_id]), class: "shadow btn btn-success btn-lg" %>  <%= link_to "Edit user", edit_user_path, class: "shadow btn btn-warning btn-lg" %>
</p>

<hr>
<center>
<div class="commbox">
<h3>Comments</h3>

<% @comments.each do |comment| %>
<hr>
  <p>
  <%= comment.content %> - <%= time_ago_in_words comment.created_at %> ago
  </p>
  <hr>
<% end %>

<%= form_for [@user, Comment.new] do |f| %>
  <div><%= f.text_area :content, :rows => 5, :cols => 40%></div>
  <h3 class="commentsubmit btn btn-success btn-sm"><%= f.submit %></h3>
<% end %>
</div>
</center>

<hr>
<p>
  <%= link_to "Back to Home", root_path, class: "btn btn-primary btn-lg" %>
</p>




