<h1 class="googfont2">Trippin!</h1>
<hr>
<h4>Signed In As: <%= @user.username %>  </h4>
<hr>


<h1><%= @user.first_name %> <%= @user.last_name %>'s Itineraries</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
    <th>Itinerary</th>
    <th>destination</th>
    <th>Begin</th>
    <th>End</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <% @user.itineraries.each do |itinerary| %>
  <td><h2 class="lspacing shadow medfont btn btn-info btn-md"><%= link_to itinerary.name, itinerary_path(itinerary) %></h2></td>
   <td><h2>itinerary.destination</h2></td>
   <td><h2><%= itinerary.start_date %></h2></td>

   <td><h2><%= itinerary.end_date %></h2></td>
   </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Add an itinerary", new_itinerary_path(session[:user_id]), class: "btn btn-success btn-lg" %> <%= link_to "Edit user", edit_user_path, class: "btn btn-warning btn-lg" %> 

</p>
<hr>
<p>
 <%= link_to "Go back", root_path, class: "btn btn-primary btn-lg" %>
</p>

<p>
 
</p>