<h1>Edit Itinerary</h1>

<%= form_for @itinerary do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.submit %>
<% end %>

<% if @itinerary.errors.any?%>
  <% @itinerary.errors.full_messages.each do |error|%>
    <p class="text-danger">
      <%= error %>
    </p>
    <% end%>
  <% end%>