<h1>Viewing Itinerary for <%= @itinerary.name %></h1>

<h3><%= @itinerary.origin %></h3>
<h3><%= @itinerary.destination %></h3>

<h4>Start Date: <%= @itinerary.start_date.to_s(:long) %></h4>
<h4>End Date: <%= @itinerary.end_date.to_s(:long) %></h4>

<h4>Destinations:</h4>

<% @destinations.each do |destination| %>
  <li><%= link_to destination.name, destination_path(destination) %></li>
<% end %>
<br>
<p>
  <%= link_to "Add a destination", new_destination_path %>
</p>
<p>
  <%= link_to "Edit Itinerary", edit_itinerary_path %>
</p>

<p>
  <%= link_to "Back to User", user_path(session[:user_id]) %>
</p>