
<center>
<div class="row">

  <h1>Viewing Itinerary for</h1><h1 class="white"> <%= @itinerary.name %></h1>
<hr>
  <div class="col-sm-6">
    <h3><%= @itinerary.origin %></h3>
    <h3>TO</h3>
    <h3><%= @itinerary.destination %></h3>

  </div>
  <div class="col-sm-6">
    <h3>Start Date: <%= @itinerary.start_date.to_s(:long) %></h3>
    <h3>End Date: <%= @itinerary.end_date.to_s(:long) %></h3>
    <p>
      <%= link_to "Edit Itinerary", edit_itinerary_path, class: "shadow btn btn-warning btn-md" %>
    </p>
  </div>
  

</div>
<hr>
<div class="row">
  
  <div class="col-sm-6">
  <h4>Destinations:</h4>
    
    <% @destinations.each do |destination| %>
      <h5 class="larger"><%= link_to destination.name, destination_path(destination) %></h5>
    <% end %>
    
  
    <p>
      <%= link_to "Add a destination", new_destination_path(@itinerary), class: "shadow btn btn-success btn-md" %>
    </p>
  </div>
  <div class="col-sm-6">
    <h4>Companions: </h4>
    <ul>
      <% @companions.each do |companion| %>
        <h5 class="larger"><%= link_to "#{companion.first_name} #{companion.last_name}", user_path(companion) %></h5>
      <% end %>
    </ul>
  </div>
</div>

<hr>
<div class="commbox">
<h3>Comments</h3>

  <% @comments.each do |comment| %>
  <hr>
    <p>
      <%= comment.content %> - <%= time_ago_in_words comment.created_at %> ago
    </p>
  <hr>
  <% end %>

  <%= form_for [@itinerary, Comment.new] do |f| %>
    <div><%= f.text_area :content, :rows => 5, :cols => 40 %></div>
    <h3 class="commentsubmit btn btn-success btn-sm"><%= f.submit %></h3>
  <% end %>
</div>

<hr>

<div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</div>

</center>

<p>
  <%= link_to "Back to User", user_path(session[:user_id]), class: "btn btn-primary btn-lg" %>
</p>
