<<<<<<< Updated upstream


<h1><%= @destination.name %></h1>
<hr>
<h2><%= @destination.location %></h2>
<h3><%= @destination.start_date.to_s(:long) %></h3>
<h3><%= @destination.end_date.to_s(:long) %></h3>

<p>
  <%= link_to "Add a Destination", new_destination_path  %>
</p>
=======
<h1>Destinations#show</h1>
<p>Find me in app/views/destinations/show.html.erb</p>

<h1><%= @destination.name %></h1>
<h2><%= @destination.location %></h2>
<h2><%= @destination.start_date %></h2>
<h2><%= @destination.end_date %></h2>
>>>>>>> Stashed changes
