

<div class="row">
<h1><%= @destination.name %></h1>
<hr>
<center>
  <div class="col-sm-6">
    <h2><%= @destination.location %></h2>
    <h2><%= @destination.start_date.to_s(:long) %></h2>
    <h2><%= @destination.end_date.to_s(:long) %></h2>
    <p>
      <%= link_to "Add a Destination", new_destination_path, class: "shadow"  %>
    </p>

    <p>
      <%= link_to "Edit Destination", edit_destination_path(@destination), class: "shadow"  %>
    </p>
  </div>



<div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</div>

</center>

  <div class="col-sm-6">

  <h2>Companions:</h2>
    
    <% @current_companions.each do |companion| %>
      <h5> <%= "#{companion.first_name} #{companion.last_name}" %><%= button_to "X", remove_companion_path(@destination,companion), method: :delete, data: { confirm: "Remove #{companion.first_name}?"}, class: "inline btn btn-danger btn-sm" %></h5>
      
    <% end %>
    
<center>
  <p>Add a Companion:</p>

  <% unless @current_companions.empty? %>
    <%= form_tag add_companion_path(@destination) %>
      <%= collection_select :user, :id, @avail_companions, :id, :first_name %>
      <%= submit_tag "Add" %>
  <% end %>


  </div>
</div>
</center>



<hr>
<center>
<div class="commbox">
<h3>Comments</h3>

<% @comments.each do |comment| %>
  <p>
  <%= comment.content %> - <%= time_ago_in_words comment.created_at %> ago
  </p>
<% end %>

<%= form_for [@destination, Comment.new] do |f| %>
  <div><%= f.text_area :content, :rows => 5, :cols => 40 %></div>
  <h3 class="commentsubmit btn btn-success btn-sm"><%= f.submit %></h3>
<% end %>

</div>
</center>
<hr>
<p>
  <%= link_to "Back to Itinerary", itinerary_path(session[:itinerary_id]["id"]), class: "btn btn-primary btn-lg"%>
</p>





