<h1><%= @destination.name %></h1>
<hr>
<h2><%= @destination.location %></h2>
<h2><%= @destination.start_date.to_s(:long) %></h2>
<h2><%= @destination.end_date.to_s(:long) %></h2>

<p>
  <%= link_to "Add a Destination", new_destination_path, class: "shadow"  %>
</p>

<p>
  <%= link_to "Edit Destination", edit_destination_path(@destination), class: "shadow"  %>
</p>

<h3>Companions:</h3>

<p>
  <ul>
  <% @current_companions.each do |companion| %>
    <li><%= "#{companion.first_name} #{companion.last_name}" %></li>
    <%= button_to "Remove", remove_companion_path(@destination,companion), method: :delete, data: { confirm: "Remove #{companion.first_name}?"} %>
  <% end %>
  </ul>
</p>

<p>Add a Companion:</p>

<% unless @current_companions.empty? %>
  <%= form_tag add_companion_path(@destination) %>
    <%= collection_select :user, :id, @avail_companions, :id, :first_name %>
    <%= submit_tag "Add" %>
<% end %>


<hr>
<h3>Comments</h3>

<% @comments.each do |comment| %>
  <p>
  <%= comment.content %> - <%= time_ago_in_words comment.created_at %> ago
  </p>
<% end %>

<%= form_for [@destination, Comment.new] do |f| %>
  <div><%= f.text_area :content, :rows => 5 %></div>
  <%= f.submit %>
<% end %>


<p>
  <%= link_to "Back to Itinerary", itinerary_path(session[:itinerary_id]["id"])%>
</p>





