

<h1><%= @destination.name %></h1>
<hr>
<h2><%= @destination.location %></h2>
<h2><%= @destination.start_date %></h2>
<h2><%= @destination.end_date %></h2>

<%= link_to "Add a Destination", new_destination_path  %>